/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Variables */
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

/* UNIVERSAL SETUP */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f6f7fb;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 35rem;
  position: relative;
  margin-bottom: 3rem;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  transition: .4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--line-border-empty);
  border-radius: 50%;
  transition: .4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  font-family: inherit;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  cursor: pointer;
  padding: 1rem 1.8rem;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.btn:active {
  transform: scale(.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}