/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* UNIVERSAL SETUP */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  flex: 1;
  position: relative;
  margin: .5rem;
  border-radius: 1rem;
  box-shadow: 0.5rem .5rem 1rem rgba(33, 33, 33, .2);
  cursor: pointer;
  transition: flex .7s ease-in-out;
}

.panel h3 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 2rem;
  color: white;
  opacity: 0;
}

.panel.active {
  flex: 10;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity .3s ease-in .4s;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
